[Unit]
Description=Wait for Specific Network Interfaces to be Online
Wants=network.target
Before=network-online.target
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/wait-for-interfaces.sh
RemainAfterExit=yes

[Install]
WantedBy=network-online.target
